.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
  width: 200px;
  height: 30px;
}

label {
  margin: 7px;
}

button {
  margin: 20px;
  width: 200px;
}
